.answers {
  display: block;
  margin: auto;
  padding: 1rem;
}
.answers_form label {
  display: block;
  color: white;
  font-size: 2rem;
}
.answers_form select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.clear_button {
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 1rem;

  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 3rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.clear_button:active {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
