.layout {
  margin: auto;
  padding-top: 1rem;
  width: 50%;
  display: flex;
  column-gap: 10%;
}
.score {
  margin-left: auto;
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  height: 10rem;
  text-align: center;
  flex: 1;
  padding-top: 2rem;
}
.score_label {
  font-size: 2rem;
}
.score_number {
  font-size: 3rem;
  font-weight: bold;
}
.summary {
  margin: auto;
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  height: 10rem;
  text-align: center;
  flex: 1;
  padding-top: 2rem;
  padding-right: 0.5rem;
}
.summary_correct {
  display: flex;
}
.summary_wrong {
  padding-top: 1rem;
  display: flex;
}
.summary_label {
  flex: 2;
  font-size: 2rem;
}
.summary_button {
  flex: 1;
  font-size: 2rem;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: white;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.summary_button:active {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
